<!-- base html file for all files -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Employee Management System" />
    <meta name="keywords" content="Employee, Management, System" />
    <meta name="author" content="Employee Management System" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />
    <meta name="alexa" content="index, follow" />
    <meta name="yandex" content="index, follow" />
    <meta name="sitemap" content="index, follow" />
    <meta name="google" content="notranslate" />
    <meta name="google-site-verification" content="google-site-verification" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index-new.css' %}" />
    {% block style %} {% endblock %}
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
