{% extends 'base.html' %} {% load static %} {% block title %} Staff Directory |
Delete Employees {% endblock %} {% block style %}
<link rel="stylesheet" href="{% static 'css/delete_employee.css' %}" />
{% endblock %} {% block content %}

<!-- if success message is true -->
{% if success_message %}
<div style="color: green; text-align: center; margin-top: 10px" class="message">
  <h1>{{ success_message }}</h1>
</div>
{% endif %}
<section class="container">
  <h1>Delete Employees</h1>

  <form action="/delete_employee" method="POST">
    {% csrf_token %}
    <label for="employee_id">Select Employee</label>
    <select id="employee_id" name="employee_id">
      <option value="">Select Employee</option>
      {% for employee in employees %}
      <option value="{{ employee.id }}">{{ employee.first_name }}</option>
      {% endfor %}
    </select>
    <br /><br />
    <input type="submit" value="Delete" />
    {% if error_message %}
    <div
      style="color: red; text-align: center; margin-top: 10px"
      class="message"
    >
      <p class="error">{{ error_message }}</p>
    </div>
    {% endif %}
  </form>
  <a href="/" class="btn">Back to Home</a> <br />
  <a href="/view_employee" class="btn" style="background-color: #155724"
    >View Employees</a
  >
</section>
{% if success_message %}
<script src="{% static 'js/reset.js' %}"></script>
{% endif %}
<script src="{% static 'js/timer.js' %}"></script>
{% endblock %}
