body {
  font-family: Arial, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  background: #000;
  align-self: center;
  margin-right: 12px;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #f7f7f7;
  margin: auto;
  font-weight: 600;
}
li:hover {
  background: #f7f7f7;
  color: #000;
}
li a:hover {
  color: #000;
}
