/* Using Inter as the primary font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --Soft-Shell: #fff2f2;
  --Lavender-Mist: #a9b5df;
  --Periwinkle: #7886c7;
  --Midnight-Navy: #2d336b;
  --primary-text: #333333;
  --alt-bg: #f8f8f8;
  --success: #2e7d32;
  --alert: #ff5a5a;
  --Warning: #ffbf00;
  --disabled: #6b7280;
  --font-family: "Inter", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --border-radius: 8px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --transition-speed: 0.3s ease;
}
body {
  font-family: var(--font-family);
  background: var(--Midnight-Navy);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
